*{
	margin: 6px;
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	background-image: url("background.jpg");
    background-repeat: no-repeat;
    background-attachment:fixed;
	color: white;
}

		#b{
			width: 90%;
			height: 40px;
			float: right;
			line-height: 37px;
			table-layout: fixed;

		}
		#c{
			width: 15%;
			height: 300px;
			float: right;
			border:solid black;
		}
		#d{
			width: 70%;
			height: auto;
			float: left;
			display: inline;
		}
		#e{
			width: 1000px;
			height: 600px;
			float: left;
			display:block;
			overflow: scroll;
			font-size: 25px;
			background-color: black;
			-webkit-text-stroke-width: 1px;
			-webkit-text-stroke-color: black;
		}
		#notes{
			width: 700px;
			height: 200px;
		}
		#left{
			text-align: left;
		}